.adoption-requests-page {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-xl);
  padding: 10px 0;
}

.adoption-requests-page__title {
  font-size: var(--fs-h3);
}

.adoption-requests-page__list {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-xxl);
}
