.chat-page {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.chat-page__container {
  display: flex;
  width: 100%;
  flex: 1 1 auto;
}

.chat-list-wrapper {
  width: 300px;
}

.chat-window-wrapper {
  flex: 1 1 auto;
}

@media (max-width: 800px) {
  .chat-list-wrapper {
    width: 60px;
  }
}
