.chat-preview {
  width: 100%;
  display: flex;
  align-items: center;
  gap: var(--spacing-sm);
  padding: var(--spacing-md);
  border-bottom: var(--border-strong);
  color: var(--color-text-primary);
  transition: all var(--transition-fast) ease;
}

.chat-preview:hover {
  background-color: var(--bg-layer-2);
}

.chat-preview.active {
  background-color: var(--bg-layer-3);
}

.chat-preview__image {
  width: 48px;
  height: 48px;
}

.chat-preview__title {
  font-size: var(--fs-body);
}

@media (max-width: 800px) {

}
