@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import "styles/variables.css";
@import "styles/icons.css";
@import "styles/dialog.css";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

ul {
  list-style: none;
}

button {
  cursor: pointer;
  background-color: transparent;
  border: none;
}

a {
  cursor: pointer;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6, p, table td {
  color: var(--color-text-primary);
}
