.send-message-form {
  display: flex;
  align-items: center;
  padding: var(--padding-md);
  gap: var(--spacing-md);
}

.send-message-form__input {
  width: 100%;
  padding: 15px;
  border: 2px solid transparent;
  outline: none;
  border-radius: 5px;
  background-color: var(--bg-layer-3);
  transition: all var(--transition-slow) ease-in-out;
  font-size: var(--fs-body);
  color: var(--color-text-primary);
}

.send-message-form__input:hover,
.send-message-form__input:focus {
  box-shadow: 0px 0px 0px 7px rgba(74, 157, 236, 20%);
  background-color: var(--bg-layer-4);
}

@media (max-width: 800px) {

}
