.chat-window {
  width: 100%;
  height: 100%;
  border-left: var(--border-strong);
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.chat-window__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--spacing-md);
  border-bottom: 4px solid var(--separator-color);
}

.chat-window__user {
  display: flex;
  align-items: center;
  gap: var(--spacing-sm);
}

.chat-window__image {
  width: 48px;
  height: 48px;
}

.chat-window__title {
  font-size: var(--fs-subtitle);
}

app-message-list {
  flex: 1 1;
  display: flex;
}

@media (max-width: 800px) {

}
